server:
  error:
    include-message: always
    include-stacktrace: always
    include-binding-errors: always
    whitelabel.enabled: true
  multipart:
    max-file-size: 10MB
    max-request-size: 10MB
    enabled: true

spring:
  profiles:
    active: dev # Perfil por defecto
  application:
    name: PDS-2024-backend
  thymeleaf:
    check-template-location: false
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: true
  jackson:
    serialization:
      fail-on-empty-beans: false
    deserialization:
      fail-on-unknown-properties: false
  session:
    store-type: jdbc
    jdbc.initialize-schema: always
  sql:
    init:
      mode: always

---

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://149.50.141.196:5432/weekbook
    username: admin
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  h2:
    console:
      enabled: false
email:
  enabled: true

---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:my_db;COLLATION=ENGLISH STRENGTH PRIMARY
    username: pds
    password: pds
    driver-class-name: org.h2.Driver
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2
email:
  enabled: false